[submodule "Tests/libs/utest"]
	path = Tests/libs/utest
	url = https://github.com/fponticelli/utest
[submodule "Tests/libs/gcusage"]
	path = Tests/libs/gcusage
	url = https://github.com/wighawag/gcusage
